# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*

# Virtual environment
venv/
*.venv
ENV/

# Miscellaneous
*.log
*.bak
*.swp
*.cache
*.DS_Store
